<!DOCTYPE html>
<html>
<head>
  <title>Able</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
        <p><strong>Signed in as <%= current_user.first_name %></strong><p>
        <button class='logout'><strong><%= link_to "Sign out", signout_path%></strong></button>
      <% else %>
        <!-- google and facebook omniauth login links -->
        <button id='google'><strong><%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></strong></button>
      <% end %>

<%= yield %>

</body>
</html>
